body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: white;
}

.logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: red;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 10%;
    background-color: rgb(30, 30, 30);
    gap: 70px;
    flex-wrap: wrap;
}

.main-title {
    font-size: 32px;
    color: white;
    margin: 0;
}

.main-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 3px solid white;
    border-radius: 4px;
}

.section-one-text {
    margin: 16px 0;
    color: white;
    max-width: 600px;
}

.section-one-button {
    padding: 4px 16px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
}

.section-two {
    text-align: center;
    padding: 70px 10%;
}

.card-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.section-two-title {
    margin: 0 0 70px 0;
    font-size: 32px;
    color: rgb(30, 30, 30);
}

.first-win,
.second-win,
.third-win,
.fourth-win,
.fifth-win {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 4px;
}

.info {
    max-width: 150px;
    font-weight: 700;
}

.section-three {
    padding: 7% 10%;
    background-color: red;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
}

.quote-text {
    color: white;
    font-size: 24px;
    font-style: italic;
}

.name {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
}

.section-four {
    padding: 7% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-four-container {
    color: white;
    background-color: rgb(30, 30, 30);
    border-radius: 4px;
    width: 500px;
    padding: 16px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-four-text {
    font-size: 14px;
}

.section-four-button {
    width: 90px;
    padding: 4% 16px;
    color: white;
    background-color: rgb(30, 30, 30);
    border: 2px solid red;
    border-radius: 4px;
}

.footer {
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 12px;
    padding: 16px 0;
}